.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

@media (min-width: 800px) {
  .grid_1-1 {
    max-width: 90%;
    gap: 80px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

/* PORTFOLIO*/

.row {
  display: flex;
  gap: 5%;
}
.column a {
  display: block;
  margin-top: 2%;
  margin-bottom: 5%;
}

@media (min-width: 800px) {
  .column a {
    margin-bottom: 3%;
  }
}
