.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

/* PORTFOLIO*/

.row {
  display: flex;
  gap: 5%;
}
.column a {
  display: block;
  margin-top: 2%;
  margin-bottom: 5%;
}
