/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************** FONTE *****************/

/*H1*/
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* h2*/
.cormorant-sc-light {
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-style: normal;
}

/*H3*/
.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

/* p */
.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

/* Annie use your telescope */
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

/************* FORSIDE ****************/

h1 {
  font-family: "Pinyon Script";
  font-weight: 200;
}

h2 {
  font-family: "Cormorant SC";
  font-weight: 300;
  font-size: 180%;
  margin-bottom: 4%;
}

h3 {
  font-family: "GFS Didot";
}

body {
  line-height: 270%;
}

p {
  font-family: "Antic Didone";
  font-size: 90%;
}

.video_baggrund {
  position: relative;
  height: 85vh;
  overflow: hidden;
  white-space: nowrap;
}

.forside_video {
  position: absolute;
  min-width: auto;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  object-fit: cover;
  object-position: center;
}

.video_tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 270%;
}

i {
  display: inline-block;
  margin-top: 120px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  animation: bounce 2s infinite;
}

#introduktion {
  padding: 2rem;
  margin: 1rem 0;
  max-width: 800px;
}

.xoxo {
  font-family: "Annie Use Your Telescope";
  margin-left: 60%;
  font-size: 220%;
}

.forside_billede,
.forside_billede2 {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.ny_linje {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
  width: 80%; /* optional */
}

.linje {
  border: none;
  height: 1px;
  background-color: black;
  margin: 40px auto;
  width: 90%;
}

.billede_tekst {
  font-family: "Annie Use Your Telescope";
  font-size: 140%;
  text-align: center;
  margin-bottom: 5%;
  display: block;
  color: black;
}

/************ FOOTER *********/

footer {
  padding: 10px 0;
  text-align: center;
  background-image: url(/img/footer.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  transition: 0.3s;
  padding: 10px 20px;
  margin: 0 auto;
}

.footer-info {
  transition: 0.3s;
  font-weight: 600;
}

.footer-img {
  max-width: 110px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sløjfe {
  max-width: 40px;
  margin: 0 auto;
}

.footer-links {
  display: block;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
  transition: 0.3s;
}

.footer-links:hover {
  color: #f48e8e;
  cursor: pointer;
}

/**** til mobil, den her query driller ***/
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

/*** til computer ***/
@media (min-width: 800px) {
  .footer-links {
    text-align: center;
    margin-top: 70px;
  }

  .footer-img {
    max-width: 150px;
  }
}

/********** OM SIDE *********/

.body_1 {
  padding: 2rem;
  margin: 1rem 0;
  max-width: 800px;
}

.body_1 h1 {
  font-size: 280%;
  line-height: 120%;
}

.h1_seraphine {
  margin-left: 5%;
  margin-bottom: 6%;
}

.om_tekst::first-letter {
  font-size: 2.2rem;
}

.icon {
  display: block;
  width: 20%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 5%;
}

.om_billede {
  display: block;
  width: 70%;
  margin: 0 auto;
  height: auto;
}

/* ERHVERSERFARING CONTAINER */

h4 {
  font-size: 110%;
  font-family: "Cormorant SC";
  font-weight: 600;
  margin-top: 8%;
}

h5 {
  font-family: "Cormorant SC";
  font-weight: 500;
  font-size: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scroll-box {
  position: relative;
  width: 380px;
  height: 280px;
  border: 1px solid black;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.5;
  margin-top: 8%;
  box-sizing: border-box;
  margin-bottom: 10%;
}

.scroll-box::before {
  content: "";
  position: absolute;
  top: 38%;
  bottom: -1000%;
  left: 20px;
  width: 0.5px;
  background-color: black;
  z-index: 0;
}

.erhverserfaring {
  line-height: 180%;
}

ul {
  padding-left: 25px; /* Controls indent */
  font-family: "Antic Didone";
}

li {
  margin-bottom: 3px;
  font-size: 85%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .scroll-box {
    flex: 1;
    max-width: 100%;
    height: 300px;
  }
}

.uddannelse {
  margin-bottom: 5%;
}

.uddannelse h1 {
  text-decoration: underline;
  text-decoration-color: #dfa7b3;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.5px;
  margin-bottom: 6%;
}

.uddannelse p {
  font-family: "Cormorant SC";
  font-size: 100%;
  padding-left: 4%;
}

.button_container {
  text-align: center;
}

button {
  background-color: #f9f4e2;
  padding: 7px 13px;
  border-radius: 18px;
  border: 0.5px solid black;
  cursor: pointer;
  font-family: "Annie Use Your Telescope";
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

button:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.h1_underline {
  text-decoration: underline;
  text-decoration-color: #dfa7b3;
  text-underline-offset: 15px;
  text-decoration-thickness: 0.5px;
  margin-bottom: 6%;
  margin-top: 10%;
}
